page-info {
    ion-content ion-card ion-card-content.text{
        text-align: center;
        font-size: 1.3em;
    }

    ion-content ion-card ion-item.value{
        text-align: center;
        font-size: 2em;
    }
    
    ion-content ion-card ion-item.value p{
        font-size: 1em;
        margin-left: 10%;
        max-width: 80%;
        padding: 2px;
        border-width: 2%;
        border-style: solid;
        border-color: #0971c0;
        color: #fff;
        background-color: #55acee;
    }

    ion-content ion-row ion-col ion-card img{
        max-width: 500px;
        max-height: 200px;
    }
}
