<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Informações</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <button ion-button round large block outline icon-start (click)="atualizar()">
        <ion-icon name="refresh"></ion-icon>
          Atualizar
      </button>
  <ion-row >
      <ion-col *ngFor="let wi of waterItems" col-md-4>
        <ion-card>
          <img src="{{wi.img}}" alt="{{wi.alt}}">
          <ion-item>
            <ion-icon name="{{wi.icon}}" item-start style="color: #55acee"></ion-icon>
          </ion-item>
          <p *ngFor="let i of wi.items">
            <ion-card-content class="text">
              {{i.description}}
            </ion-card-content>
            <ion-item class="value">
              <p>{{i.value}}</p>
            </ion-item>
          </p>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>

