<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Configurações
    </ion-title>
  </ion-navbar>
  
</ion-header>
      
<ion-content padding>

  <ion-item>
    <ion-label>Formato da caixa</ion-label>
    <ion-select [(ngModel)]="box_kind" (ionChange) = "setKind();">
      <ion-option *ngFor = "let bo of boxOptions" value="{{bo.value}}" >
        {{bo.description}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list class="retangulo" *ngIf = "kindRetangulo && !kindCilindro">
    <ion-item>
      <ion-label floating>Altura da Caixa (cm)</ion-label>
      <ion-input [(ngModel)]="height" type="text" (ionChange) = "calcCapacity();"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Largura da Caixa (cm)</ion-label>
      <ion-input [(ngModel)]="width" type="text" (ionChange) = "calcCapacity();"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Comprimento da Caixa (cm)</ion-label>
      <ion-input [(ngModel)]="depth" type="text" (ionChange) = "calcCapacity();"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="cilindro" *ngIf = "kindCilindro && !kindRetangulo">
      <ion-item>
        <ion-label floating>Altura da Caixa (cm)</ion-label>
        <ion-input [(ngModel)]="height" type="text" (ionChange) = "calcCapacity();"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Raio da Caixa (cm)</ion-label>
        <ion-input [(ngModel)]="radius" type="text" (ionChange) = "calcCapacity();"></ion-input>
      </ion-item>
  </ion-list>
  <ion-item>
      <ion-label floating>Capacidade da Caixa (L)</ion-label>
      <ion-input [(ngModel)]="capacity" type="text" readonly="true"></ion-input>
    </ion-item>

    <button class="confirm" ion-button full (click)="confirmar()" >Confirmar</button>
 
</ion-content>
